* {
    margin: 0;

    body {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
        background-color: rgb(218, 232, 236);

        #main {
            background-color: lightblue;
            display: inline-block;
            padding: 50px;
            border: solid 3px black;

            #title {
                h1 {
                    color: #11999E;
                    margin-bottom: 35px;
                }
            }

            #title,
            form,
            #buttonField,
            #resultField {
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
            }

            .inputField {
                display: flex;
                align-items: center;
                margin-bottom: 31px;
            }

            label {
                width: 100px;
            }

            select {
                width: 150px;
            }

            #amount {
                width: 143.5px;
            }

            button {
                position: relative;
                border: none;
                border-radius: 6px;
                font-family: Arial;
                color: #ffffff;
                font-size: 12px;
                background: #456e36;
                padding: 15px 20px 15px 20px;
                font-weight: 600;
            }

            #result {
                color: black;
                font-weight: 600;
            }
        }
    }
}